* {
    font-family: Helvetica;
}

#main-div {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
}
p {
    color: #888888;
    font-weight: lighter;
}

h3 {
    font-size: 24pt;
    color: #111111;
    margin-bottom: 5px;
}

input {
    padding: 8px 16px;
    border-radius: 8px;
    outline: none;
}

button {
    font-size: 16pt;
    border-radius: 8px;
    margin: 10px;
    padding: 8px 16px;
    outline: none;
    border: none;
    font-weight: bold;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
}

#charge_button {
    background-color: #70e000;
    color: white;
    border: none;
}

#request_button {
    background-color: transparent;
    color: #70e000;
    border: 3px solid #70e000;
    font-size: 12pt;
}

#request_button:disabled {
    color: #888888;
    border-color: #888888;
}

#charge_button:disabled {
    background-color: #888888;
}

#charge_button:hover:not(:disabled){
    transform: translateY(-2px);
    background-color: #70c000;
    cursor: pointer;
}

#request_button:hover:not(:disabled) {
    transform: translateY(-2px);
    color: #70c000;
    border-color: #70c000;
    cursor: pointer;
}

#error_label {
    color: red;
}